In [3]:
from datetime import datetime
import numpy as np
import os


# if __name__ == '__main__':
#     # TEST
#     _, _, tra_gt, _, _, val_gt, _, _, tes_gt = load_cla_data(
#         './data/kdd17/ourpped/',
#         '2007-01-03', '2015-01-02', '2016-01-04'
#     )

data_path = './data/kdd17/ourpped/'
# return data in form (batch size, num stocks, time_steps, feature_size)
# def load_cla_data(data_path, tra_date, val_date, tes_date, seq=2,
#                   date_format='%Y-%m-%d'):
fnames = [fname for fname in os.listdir(data_path) if
            os.path.isfile(os.path.join(data_path, fname))]
print(len(fnames), ' tickers selected')
ticker_num = len(fnames)

fnames.remove('SNP500.csv')
fnames.insert(0, 'SNP500.csv')
print(fnames)

data_EOD = []
for index, fname in enumerate(fnames):
    # print(fname)
    single_EOD = np.genfromtxt(
        os.path.join(data_path, fname), dtype=float, delimiter=',',
        skip_header=False
    )
    # print('data shape:', single_EOD.shape)
    data_EOD.append(single_EOD)

51  tickers selected
['SNP500.csv', 'BA.csv', 'TM.csv', 'MO.csv', 'NVS.csv', 'T.csv', 'DCM.csv', 'CHL.csv', 'BAC.csv', 'PEP.csv', 'VALE.csv', 'D.csv', 'MRK.csv', 'ORCL.csv', 'PG.csv', 'AMZN.csv', 'INTC.csv', 'MMM.csv', 'KO.csv', 'UPS.csv', 'MSFT.csv', 'TOT.csv', 'EXC.csv', 'HD.csv', 'SO.csv', 'XOM.csv', 'CVX.csv', 'RDS-B.csv', 'CMCSA.csv', 'NGG.csv', 'BHP.csv', 'WFC.csv', 'DIS.csv', 'GE.csv', 'PTR.csv', 'JPM.csv', 'SPY.csv', 'GOOGL.csv', 'PFE.csv', 'DUK.csv', 'VZ.csv', 'UNH.csv', 'MA.csv', 'SYT.csv', 'AAPL.csv', 'WMT.csv', 'NTT.csv', 'RIO.csv', 'BRK-B.csv', 'DOW.csv', 'JNJ.csv']

In [4]:
data_EOD[0].shape

(2518, 13)

In [5]:
x = np.array([[[1,2,3,4,5,6,7,8,9,10,11],
                   [2,3,4,5,6,7,8,9,10,11,12],
                   [3,4,5,6,7,8,9,10,11,12,13]],
                   [[1,2,3,4,5,6,7,8,9,10,11],
                   [2,3,4,5,6,7,8,9,10,11,12],
                   [3,4,5,6,7,8,9,10,11,12,13]],
                   [[1,2,3,4,5,6,7,8,9,10,11],
                   [2,3,4,5,6,7,8,9,10,11,12],
                   [3,4,5,6,7,8,9,10,11,12,13]],
                   [[1,2,3,4,5,6,7,8,9,10,11],
                   [2,3,4,5,6,7,8,9,10,11,12],
                   [3,4,5,6,7,8,9,10,11,12,13]],
                   [[1,2,3,4,5,6,7,8,9,10,11],
                   [2,3,4,5,6,7,8,9,10,11,12],
                   [3,4,5,6,7,8,9,10,11,12,13]],])

In [6]:
x

array([[[ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11],
        [ 2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12],
        [ 3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13]],

       [[ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11],
        [ 2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12],
        [ 3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13]],

       [[ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11],
        [ 2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12],
        [ 3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13]],

       [[ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11],
        [ 2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12],
        [ 3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13]],

       [[ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11],
        [ 2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12],
        [ 3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13]]])

In [7]:
x.shape

(5, 3, 11)

In [15]:
fun = lambda x: x + x[0,0]

In [17]:
result = fun(x)

In [18]:
result

array([[[ 2,  4,  6,  8, 10, 12, 14, 16, 18, 20, 22],
        [ 4,  6,  8, 10, 12, 14, 16, 18, 20, 22, 24],
        [ 6,  8, 10, 12, 14, 16, 18, 20, 22, 24, 26]],

       [[ 2,  4,  6,  8, 10, 12, 14, 16, 18, 20, 22],
        [ 4,  6,  8, 10, 12, 14, 16, 18, 20, 22, 24],
        [ 6,  8, 10, 12, 14, 16, 18, 20, 22, 24, 26]],

       [[ 2,  4,  6,  8, 10, 12, 14, 16, 18, 20, 22],
        [ 4,  6,  8, 10, 12, 14, 16, 18, 20, 22, 24],
        [ 6,  8, 10, 12, 14, 16, 18, 20, 22, 24, 26]],

       [[ 2,  4,  6,  8, 10, 12, 14, 16, 18, 20, 22],
        [ 4,  6,  8, 10, 12, 14, 16, 18, 20, 22, 24],
        [ 6,  8, 10, 12, 14, 16, 18, 20, 22, 24, 26]],

       [[ 2,  4,  6,  8, 10, 12, 14, 16, 18, 20, 22],
        [ 4,  6,  8, 10, 12, 14, 16, 18, 20, 22, 24],
        [ 6,  8, 10, 12, 14, 16, 18, 20, 22, 24, 26]]])